<header>
  <div class="constrainer">
    <h1>Kristina &amp;<span class="phone"><br><br></span> <span class="phone"><br><br></span> Daniel</h1>
    <h3>Chicago, Illinois <span class="not-phone">-</span><span class="phone"><br></span> September 12, 2015</h3>

    <nav>
      <a href="#about-us" {{action "scrollTo" "about-us"}}>About Us</a>
      <span><a href="#wedding-party" {{action "scrollTo" "wedding-party"}}>Wedding Party</a></span>
      <span><a href="#wedding-details" {{action "scrollTo" "wedding-details"}}>Wedding Details</a></span>
      <span><a href="#guest-info" {{action "scrollTo" "guest-info"}}>Guest Info</a></span>
      <span><a href="#registry" {{action "scrollTo" "registry"}}>Registry</a></span>
      <span><a href="#rsvp" {{action "scrollTo" "rsvp"}}>RSVP</a></span>
    </nav>
  </div>
</header>

<section class="divider waldorf">
</section>
